## List

In [1]:
mylist = [i for i in range(0, 10)]
mylist[5:10:1] # [from_inclusive : to_exclusive : Â±step]

In [2]:
mylist.append(50)
print(mylist)

In [3]:
mylist.extend([i for i in range(0, 5)])
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 0, 1, 2, 3, 4]

In [4]:
mylist.sort()
mylist

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 6, 7, 8, 9, 50]

In [5]:
mylist.reverse()
mylist

[50, 9, 8, 7, 6, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0, 0]

In [6]:
newlist = sorted(mylist)
print(mylist)
print(newlist)
list_iterator = reversed(mylist)
print([item for item in list_iterator])

[50, 9, 8, 7, 6, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0, 0]
[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 6, 7, 8, 9, 50]
[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 6, 7, 8, 9, 50]

In [7]:
sum_of_elements  = sum(mylist)
elementwise_sum  = [sum(pair) for pair in zip(mylist, newlist)]
import functools
product_of_elems = functools.reduce(lambda out, el: out * el, mylist)
product_of_elems

0

## Dictionary

In [8]:
numbers_dict = {
    1: "one",
    2: "two",
    3: "three",
    4: "four",
    5: "five",
    6: "six",
    7: "seven",
    8: "eight",
    9: "nine",
    10: "ten"
}
numbers_dict

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine',
 10: 'ten'}

In [9]:
print([key for key in numbers_dict.keys()])
print([value for value in numbers_dict.values()])
print([(key, value) for key, value in numbers_dict.items()])

new_dictionary = dict(zip(mylist, newlist))
new_dictionary

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six'), (7, 'seven'), (8, 'eight'), (9, 'nine'), (10, 'ten')]

{50: 0, 9: 0, 8: 1, 7: 1, 6: 2, 5: 2, 4: 3, 3: 4, 2: 6, 1: 8, 0: 50}

In [10]:
numbers_dict.update({11: 'elf'})
numbers_dict

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine',
 10: 'ten',
 11: 'elf'}

In [11]:
numbers_dict.pop(11)

'elf'

## Counter

In [12]:
from collections import Counter
colors = ['blue', 'blue', 'blue', 'red', 'red']
counter = Counter(colors)
print(counter)
counter['yellow'] += 1
print(counter)
counter.most_common()[0][0]

Counter({'blue': 3, 'red': 2})
Counter({'blue': 3, 'red': 2, 'yellow': 1})

'blue'

## Set

In [13]:
myset = set()
type(myset)

set

In [14]:
myset.add(0)
myset.update(mylist)
new_set = set([number for number in range(5,15)])
print(myset)
print(new_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [15]:
resulting_set = myset.union(new_set)
print(resulting_set)
resulting_set = myset.intersection(new_set)
print(resulting_set)
resulting_set = myset.difference(new_set)
print(resulting_set)
resulting_set = myset.symmetric_difference(new_set)
print(resulting_set)
resulting_set = myset.issubset(new_set)
print(resulting_set)
resulting_set = myset.issubset(new_set)
print(resulting_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 50}
{5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 50}
{0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 50}
False
False

In [16]:
result = myset.pop()
print(result)
myset.remove(1)
myset.discard(1)

0

## Frozen Set

In [17]:
frozen_set = frozenset(myset)
frozen_set

frozenset({2, 3, 4, 5, 6, 7, 8, 9, 50})

## Tuple

Tuple is an immutable and hashable list.

In [18]:
mytuple = ()
mytuple = tuple(mylist)
mytuple

(50, 9, 8, 7, 6, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0, 0)

### Named Tuple

Tuple's subclass with named elements.

In [19]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
p = Point(1, y=2)
print(p[0])
print(p.x)
print(p.y)
print(getattr(p, 'y'))

1
1
2
2

In [20]:
myrange = range(0,10, 2) # range(from_inclusive, to_exclusive, Â±step_size)
print(list(myrange))

[0, 2, 4, 6, 8]

## Enumerate

In [21]:
for index, element in enumerate(mylist):
    print(str(index) + str(' | ') + str(element))

0 | 50
1 | 9
2 | 8
3 | 7
4 | 6
5 | 5
6 | 4
7 | 4
8 | 3
9 | 3
10 | 2
11 | 2
12 | 1
13 | 1
14 | 0
15 | 0

## Iterator

In [22]:
myiterator = iter(mylist)
print(next(myiterator))
print(list(myiterator))

50
[9, 8, 7, 6, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0, 0]

## Itertools

In [26]:
import itertools as it
myiterator = it.count(start=0, step=1)
new_iterator = iter(lambda: next(myiterator), 10)
print(list(new_iterator))
new_iterator = it.repeat(1, 10)  # Returns element endlessly or 'times' times.
print(list(new_iterator))
new_iterator = it.cycle([0,1,2,3,4,5])
list(it.islice(new_iterator, 15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2]

## Generator
- Any function that contains a yield statement returns a generator.
- Generators and iterators are interchangeable.

In [27]:
def count(start, step):
    while True:
        yield start
        start += step
        
counter = count(10, 2)

In [77]:
next(counter)

108

## Type
- Everything is an object.
- Every object has a type.
- Type and class are synonymous.

In [79]:
mytype = type(1)
isinstance(1, mytype)

True

Some types do not have built-in names, so they must be imported:

In [80]:
from types import FunctionType, MethodType, LambdaType, GeneratorType, ModuleType

### Abstract Base Classes
Each abstract base class specifies a set of virtual subclasses. These classes are then recognized by isinstance() and issubclass() as subclasses of the ABC, although they are really not. ABC can also manually decide whether or not a specific class is its virtual subclass, usually based on which methods the class has implemented. For instance, Iterable ABC looks for method iter(), while Collection ABC looks for iter(), contains() and len().

In [81]:
from collections.abc import Iterable, Collection, Sequence
isinstance([1, 2, 3], Iterable)

True

+------------------+------------+------------+------------+
|                  |  Iterable  | Collection |  Sequence  |
+------------------+------------+------------+------------+
| list, range, str |    yes     |    yes     |    yes     |
| dict, set        |    yes     |    yes     |            |
| iter             |    yes     |            |            |
+------------------+------------+------------+------------+

+--------------------+----------+----------+----------+----------+----------+
|                    |  Number  |  Complex |   Real   | Rational | Integral |
+--------------------+----------+----------+----------+----------+----------+
| int                |   yes    |   yes    |   yes    |   yes    |   yes    |
| fractions.Fraction |   yes    |   yes    |   yes    |   yes    |          |
| float              |   yes    |   yes    |   yes    |          |          |
| complex            |   yes    |   yes    |          |          |          |
| decimal.Decimal    |   yes    |          |          |          |          |
+--------------------+----------+----------+----------+----------+----------+

In [85]:
mystring = '    aaaabbbccccbbbaaaa        '
mystring = mystring.strip()
mystring.strip('a')

'bbbccccbbb'

In [88]:
mystring = 'aaa bbb ccc ddd'
print(mystring.split())
print('-'.join(mystring.split()))

['aaa', 'bbb', 'ccc', 'ddd']
aaa-bbb-ccc-ddd

In [107]:
splitted_list = mystring.split(sep='bbb', maxsplit=1) 
mystring = '''aaa 
bbb
ccc
ddd
''' # On [\n\r\f\v\x1c-\x1e\x85\u2028\u2029] and \r\n.
splitted_list = mystring.splitlines(keepends = True)
splitted_list

['aaa\n', 'bbb\n', 'ccc\n', 'ddd\n']

In [115]:
print('bbb' in mystring)
print(mystring.startswith('aaa'))
print(mystring.endswith('ddd'))
print(mystring.find('ccc')) # index
print(mystring.index('ccc')) # same but returns error if missing

True
True
False
8
8

In [130]:
print(mystring.replace('ccc', 'eee', 1)) # Replaces 'ccc' with 'eee' at most '1' times.
print(mystring.translate({'eee':'ccc'}))
print(mystring.maketrans('abcd','efgh'))

aaa
bbb
eee
ddd

aaa
bbb
ccc
ddd

{97: 101, 98: 102, 99: 103, 100: 104}

In [148]:
mystring = chr(104)  # Converts int to Unicode character.
myunicode = ord(mystring)

print(mystring)
print(myunicode)

h
104

Also: 'lstrip()', 'rstrip()' and 'rsplit()'.
Also: 'lower()', 'upper()', 'capitalize()' and 'title()'.

In [154]:
mystring = '   hello my friend  '
mystring.rsplit(maxsplit = 1)

['   hello my', 'friend']


### Property Methods
```text
+---------------+----------+----------+----------+----------+----------+
|               | [ !#$%â¦] | [a-zA-Z] |  [Â¼Â½Â¾]   |  [Â²Â³Â¹]   |  [0-9]   |
+---------------+----------+----------+----------+----------+----------+
| isprintable() |   yes    |   yes    |   yes    |   yes    |   yes    |
| isalnum()     |          |   yes    |   yes    |   yes    |   yes    |
| isnumeric()   |          |          |   yes    |   yes    |   yes    |
| isdigit()     |          |          |          |   yes    |   yes    |
| isdecimal()   |          |          |          |          |   yes    |
+---------------+----------+----------+----------+----------+----------+
```
* **`'isspace()'` checks for whitespaces: `'[ \t\n\r\f\v\x1c-\x1f\x85\xa0\u1680â¦]'`.**